.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resultText {
  background-color: antiquewhite;
  width: 500px;
  height: 300px;
  overflow: scroll;
  color: #282c34;
}

.good {
height: 100px;
width: 100px;
background-color: beige;
overflow: scroll;
color: black;
font-size: 12px;
text-align: left;
}

.suggest {
height: 100px;
width: 100px;
background-color: azure;
overflow: scroll;
color: black;
font-size: 12px;
text-align: left;
}

.improve {
height: 100px;
width: 100px;
background-color: blanchedalmond;
overflow: scroll;
color: black;
font-size: 12px;
text-align: left;
}

